@import "../../../../pokemon-types.scss";

.dialog {
  padding: 0.5em;
  background-color: $card-color;
  color: #ffffff;
  border-radius: 2px;

  .stats {
    padding: 0.5em;
  }

  @each $type, $color in $pokemon-types {
    .#{$type} {
      background-color: rgba($color, 0.7);
    }
  }

  .pokemon-image {
    width: min-content;
    border-radius: 2px;
  }

  audio {
    width: 100%;
    height: 32px;
  }
}
